{
  "extends": "airbnb-base",

  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },

  "parserOptions": {
    "ecmaVersion": 9
  },

  "rules": {
    "linebreak-style": 0,
    "no-console": 0
  }
}